##########################################################
###############          Mainnet                 #########
############### Cardano Byron Node Configuration #########
##########################################################


##### Locations #####

ByronGenesisFile: genesis/byron/genesis.json
ShelleyGenesisFile: genesis/shelley/genesis.json
AlonzoGenesisFile: genesis/shelley/genesis.alonzo.json
ConwayGenesisFile: genesis/shelley/genesis.conway.json
ByronGenesisHash: 4f0f35eb49562354c5b686e381ff6159d651616e6b83efee2f6d8bcc60d0cded
ShelleyGenesisHash: 6501080bf7fb440cde4ac4e35325188301c53f396b1e124a5556e9c4f333dac8
AlonzoGenesisHash: 501e2702bddac606c398acf9733af26857de5c0424f6e421ea524cf7a0c30f99
ConwayGenesisHash: 72a8e84c684b44e6b7530b6861582c5fa2db112f5b56e38505f987f34f8ffa66
#SocketPath: db/node.socket

##### Blockfetch Protocol
PBftSignatureThreshold: 0.6

# The maximum number of used peers during bulk sync.
MaxConcurrencyBulkSync: 1
# The maximum number of used peers when fetching newly forged blocks.
MaxConcurrencyDeadline: 2

#TODO: These parameters cannot yet be used in the config file, only on the CLI:
#DatabasePath: db/
#Topology: configuration/mainnet-topology.json
#Port 7776

##### Core protocol parameters #####

# This is the instance of the Ouroboros family that we are running.
# "RealPBFT" is the real (permissive) OBFT protocol, which is what we use on
# mainnet in Byron era.
Protocol: Cardano

# The mainnet does not include the network magic into addresses. Testnets do.
RequiresNetworkMagic: RequiresNoMagic


##### Update system parameters #####

# This protocol version number gets used by block producing nodes as part
# of the system for agreeing on and synchronising protocol updates.
LastKnownBlockVersion-Major: 7
LastKnownBlockVersion-Minor: 0
LastKnownBlockVersion-Alt: 0
MaxKnownMajorProtocolVersion: 7

##### Consensus / Ledger (10.4.x) #####

ConsensusMode: PraosMode

LedgerDB:
  SnapshotInterval: 4320
  NumOfDiskSnapshots: 2
  QueryBatchSize: 100000
  Backend: V2InMemory

##### Version info #####

MinNodeVersion: 10.4.0

##### Logging configuration #####

# Enable or disable logging overall
TurnOnLogging: True

# Enable the collection of various OS metrics such as memory and CPU use.
# These metrics are traced in the context name: 'cardano.node.metrics' and can
# be directed to the logs or monitoring backends.
TurnOnLogMetrics: True

# Use the modern tracing system (NEW TRACING SYSTEM ENABLED)
UseTraceDispatcher: True

# Match the metrics prefix of the legacy tracing system to minimize breaking changes
TraceOptionMetricsPrefix: "cardano.node.metrics."

# EKG is a simple metrics monitoring system. Uncomment the following to enable
# this backend and listen on the given local port and point your web browser to
# http://localhost:12788/
hasEKG: 14788

# The Prometheus monitoring system exports EKG metrics. Uncomment the following
# to listen on the given port. Output is provided on
# http://localhost:12789/metrics
hasPrometheus:
  - "0.0.0.0"
  - 14789

##### New Tracing System Configuration #####

TraceOptions:
  '':
    backends:
      - Stdout MachineFormat
      - EKGBackend
      - 'PrometheusSimple 0.0.0.0 14789'
    detail: DNormal
    severity: Debug

  BlockFetch:
    severity: Debug
    detail: DDetailed

  ChainDB:
    severity: Notice
    detail: DDetailed

  ChainSync:
    severity: Debug
    detail: DNormal

  Mempool:
    severity: Debug
    detail: DNormal

  BlockchainTime:
    severity: Debug

# TestShelleyHardForkAtEpoch: 0
# TestAllegraHardForkAtEpoch: 0
# TestMaryHardForkAtEpoch: 0
# TestAlonzoHardForkAtEpoch: 0
# TestBabbageHardForkAtEpoch: 0
# ExperimentalProtocolsEnabled: True


  # Enable P2P
EnableP2P: False
TargetNumberOfRootPeers: 20
TargetNumberOfKnownPeers: 20
TargetNumberOfEstablishedPeers: 10
TargetNumberOfActivePeers: 10
TraceInboundGovernorCounters: True
TraceConnectionManagerTransitions: True
TraceLedgerPeers: True
TracePeerSelectionCounters: True
TracePeerStateActions: True